.fb_reviews {
  font-family: "Helvetica Neue", Helvetica tahoma verdana arial sans-serif;
  }
.photoDisplay {
	width: 115px;
	height: 115px;
	border-radius: 50%;
	vertical-align: middle;
	box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  }
#map {
	height: 100%;
	min-height:400px;
}

#googleRating,
#facebookRating {
	font-size:1.8rem;
  font-weight:bold;
	margin:0;
	color:#fa8300;
}
#reviews{
	font-size:1.4rem;
}
.rev {
  padding:15px;
  border-top:1px solid #ddd;
}
.rev:nth-child(even) {
	background-color:#eee;
}

h2 {margin:20px 0 !important;
	font-size:2rem;
}
.reviewHeader {
  padding:15px;
  background-color:#eee;
}
.reviewHeader h1 {
    font-weight: bold;
    font-size: 3.5rem;
    margin: 20px 15px 30px;
    letter-spacing: .05em;
}
.google, 
.facebook {
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin: 10px 0;
    text-align: center;
    min-height:180px;
}
.googleLink, .facebookLink {
  margin:10px 0 0;
  color:#888;
  font-size:1.1rem;
  display:block;
}
.googleImg, .facebookImg {
  max-width:200px;
}